target
classes
certs
.idea
.terraform
.dockerconfigjson
*.dockerconfigjson
.tfstate
.tfstate.backup
*.iml
.env
.env.*
!.env.dist
!.enc.env
*secret.yaml
*secrets.yaml
*secret.yml
*secret.env
*secrets.env
*telepresence.log
.DS_Store
**/bin
**/obj
**/out
**/local/**/config.env
!**/local/*secret.yaml
.settings
.project
nbproject/
.temp/
yarn-error.log
.classpath
**/config/**/config.tfvars
secret.auto.tfvars
**/output/*
node_modules/
dist/
.m2/repository
**.tfstate*
.vscode
heketi-key
*.gz
**/.factorypath
**/.springBeans
**/application-dev*
*~
*.swp
*.swo
**/*.java-version
.checkstyle
*.log
