MY_ORG__API__KAFKA_BOOTSTRAP_SERVERS=cp-kafka-broker-headless.kafka:9092
MY_ORG__API__CONSUME_TOPIC=testapp.weatherforecast.send
MY_ORG__API__REPLY_TOPIC=testapp.weatherforecast.reply
ASPNETCORE_ENVIRONMENT=Production
ASPNETCORE_URLS=http://+:8080