MY_ORG__API__FORECAST_SERVICE=http://testapp-api.testapp.svc.cluster.local:8080
ASPNETCORE_ENVIRONMENT=Production
ASPNETCORE_URLS=http://+:8080
KAFKA_BOOTSTRAP_SERVERS=cp-kafka-broker-headless.kafka:9092