MY_ORG__APP__FORECAST_SERVICE=http://testapp-api.testapp.svc.cluster.local:8080
MY_ORG__APP__KAFKA_BOOTSTRAP_SERVERS=cp-kafka-broker-headless.kafka:9092
MY_ORG__APP__SEND_TOPIC=testapp.weatherforecast.send
MY_ORG__APP__CONSUME_TOPIC=testapp.weatherforecast.reply
ASPNETCORE_ENVIRONMENT=Production
ASPNETCORE_URLS=http://+:8080